# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\susci\Desktop\UniAssignments\2nd sem\DSA\A3 - DLLA IteratedListFINALFINAL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
